.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.75rem 0;
    background-color: #fff5eb;
  } 
  
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .destaque-titulo {
    font-size: 4.5rem;
    color: #a2b72b;
  } 
  
  .destaque-titulo > span {
    color: #ee6451;
  }